<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 second"
	debug="false">
	<contextName>RMS</contextName>

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern> %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>testFile.log</file>
		<append>true</append>
		<encoder>
			<pattern>%msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="com.rms.user.controller.UserController" level="DEBUG"
		additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</logger>
	

	

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		
	</root>
</configuration>